<html>
  <head>
    <title>IronRuby Calculator</title>
  </head>
  <body>
    <h1>IronRuby Calculator Web Service!</h1>

    <a href="/CalculatorTestAppTestPage.aspx">View the calculator</a>
    <br /><br />
    <a href="/CalculatorTestAppTestPage.aspx?test">... run the tests</a>
  </body>
</html>
